<a routerLink="../../detalles-terneros" routerLinkActive="active" class="btn btn-primary">back</a>
<div class="col-md-6 offset-3">
    <h3 class="text-center">Registro datos de sensores</h3>
    <h2 class="text-center">{{ternero.id}} - {{ternero.nombre}}</h2>
    <form (ngSubmit)="onSubmit()" #terneroForm="ngForm">
        <div id="formulario" class="form-group">
            <label for="costo">Frecuencia cardíaca: </label>
            <input type="number"
                class="form-control"
                id="cardiaca"
                [(ngModel)] = "ternero.frecuencia_cardiaca"
                name="cardiaca"
                min="0"
                required
                #cardiaca = "ngModel"
            >
            <label for="respiratoria">Frecuencia respiratoria: </label>
            <input type="number"
                class="form-control"
                id="respiratoria"
                [(ngModel)] = "ternero.frecuencia_respiratoria"
                name="respiratoria"
                min="0"
                required
                #respiratoria = "ngModel"
            >
            <label for="sanguinea">Presión sanguínea: </label>
            <input type="number"
                class="form-control"
                id="sanguinea"
                [(ngModel)] = "ternero.presion_sanguinea"
                name="sanguinea"
                min="0"
                required
                #sanguinea = "ngModel"
            >
            <label for="temperatura">Temperatura: </label>
            <input type="number"
                step="0.01"
                class="form-control"
                id="temperatura"
                [(ngModel)] = "ternero.temperatura"
                name="temperatura"
                required
                #temperatura = "ngModel"
            >
        </div>
        <br>
        <div class="row">
            <div class="alert alert-danger" *ngIf="cardiaca.invalid && cardiaca.dirty || respiratoria.invalid && respiratoria.dirty || sanguinea.invalid && sanguinea.dirty || temperatura.invalid && temperatura.dirty">
                <div *ngIf="cardiaca.errors?.['required'] || respiratoria.errors?.['required'] || sanguinea.errors?.['required'] || temperatura.errors?.['required']">
                  Favor de llenar todos los campos
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!terneroForm.form.valid">Guardar</button>
    </form>
</div>