<h2 class="text-center">Lista terneros</h2>
<table class="table table-striped text-center">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Peso</th>
            <th>Costo</th>
            <th>Proveedor</th>
            <th>Descripción</th>
            <th>Musculo</th>
            <th>Marmoleo</th>
            <th>Tipo grasa</th>
            <th>Status</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ternero of terneros">
            <td>{{ ternero.id }}</td>
            <td>{{ ternero.nombre }}</td>
            <td>{{ ternero.peso || "no especificado" }}</td>
            <td>{{ ternero.costo }}</td>
            <td>{{ ternero.proveedor }}</td>
            <td>{{ ternero.descripcion }}</td>
            <td>Color {{ ternero.color_musculo || "no especificado" }}</td>
            <td>Calidad {{ ternero.calidad_marmoleo || "no especificada" }}</td>
            <td>
                {{
                    ternero.tipo_grasa === 1 ? "Tipo 1"
                    : ternero.tipo_grasa === 2 ? "Tipo 2"
                    : "Indeterminado"
                }}
            </td>
            <td>{{ ternero.cuarentena ? "Cuarentena" : "Sano" }}</td>
            <td>
                <button (click)="actualizarTernero(ternero.id)" class="btn btn-info"> Actualizar </button>
            </td>
        </tr>
    </tbody>
</table>
