<h2 class="text-center">Detalles terneros</h2>
<div class="col-sm-12">
    <table class="table table-striped text-center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Peso</th>
                <th>Frecuencia cardíaca</th>
                <th>Frecuencia respiratoria</th>
                <th>Presión sanguínea</th>
                <th>Temperatura</th>
                <th>Último registro</th>
                <th>Status</th>
                <th>Tipo de grasa</th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ternero of terneros">
                <td>{{ ternero.id }}</td>
                <td>{{ ternero.nombre }}</td>
                <td>{{ ternero.peso }}</td>
                <td>{{ternero.frecuencia_cardiaca || "No especificada"}}</td>
                <td>{{ternero.frecuencia_respiratoria || "No especificada"}}</td>
                <td>{{ternero.presion_sanguinea || "No especificada"}}</td>
                <td>{{ternero.temperatura || "No especificada"}}</td>
                <td>{{ternero.fecha_registro_sensores || "Sin registro"}}</td>
                <td>
                    <div [hidden]="ternero.cuarentena !== 2">
                        <button class="btn btn-danger" (click)="checarTernero(ternero)">Revisión</button>
                    </div>
                    <div [hidden]="ternero.cuarentena === 2">
                        {{
                            ternero.cuarentena === 0 ? "Sano"
                            :  "Cuarentena"
                        }}
                    </div>
                </td>
                <td>
                    {{
                        ternero.tipo_grasa === 1 ? "Tipo 1"
                        : ternero.tipo_grasa === 2 ? "Tipo 2"
                        : "Indeterminado"
                    }}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="redireccionarDatosSensores(ternero.id)"> Datos sensores </button>
                </td>
                <td>
                    <button class="btn btn-info" (click)="activarCuarentena(ternero)" [hidden]="ternero.cuarentena === 2"> {{ternero.cuarentena === 1 ? "Sano"
                        : "Cuarentena"}} </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>