<a routerLink="../../terneros" routerLinkActive="active" class="btn btn-primary">back</a>
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Actualización de datos</h3>

    <form (ngSubmit)="onSubmit()" #terneroForm="ngForm">
        <div class="form-group">
            <label for="nombre">Nombre: </label>
            <input type="text"
                class="form-control"
                id="nombre"
                [(ngModel)] = "ternero.nombre"
                name="nombre"
                required
                minlength="4"
                maxlength="25"
                #nombre = "ngModel"
            >
        </div>
        <br>
        <div class="form-group">
            <label for="peso">Peso: </label>
            <input type="number"
                class="form-control"
                id="peso"
                [(ngModel)] = "ternero.peso"
                name="peso"
                step="0.01"
                min="0"
                max="1000"
                #peso = "ngModel"
            >
        </div>
        <br>
        <div class="form-group">
            <label for="costo">Costo: </label>
            <input type="number"
                class="form-control"
                id="costo"
                [(ngModel)] = "ternero.costo"
                name="costo"
                required
                step="0.01"
                min="0"
                #costo = "ngModel"
            >
        </div>
        <br>
        <div class="form-group">
            <label for="proveedor">Proveedor: </label>
            <input type="text"
                class="form-control"
                id="proveedor"
                [(ngModel)] = "ternero.proveedor"
                name="proveedor"
                required
                #proveedor = "ngModel"
            >
        </div>
        <br>
        <div class="form-group">
            <label for="descripcion">Descripción: </label>
            <input type="text"
                class="form-control"
                id="descripcion"
                [(ngModel)] = "ternero.descripcion"
                name="descripcion"
                min="0"
                #descripcion = "ngModel"
            >
        </div>
        <br>
        <div class="form-group">
            <label for="musculo">Color músculo: </label>
            <select id="musculo" name="musculo" class="form-control" [(ngModel)] = "ternero.color_musculo" #musculo = "ngModel">
                <option value="1">Color 1</option>
                <option value="2">Color 2</option>
                <option value="3">Color 3</option>
                <option value="4">Color 4</option>
                <option value="5">Color 5</option>
                <option value="6">Color 6</option>
                <option value="7">Color 7</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="marmoleo">Calidad marmoleo: </label>
            <select id="marmoleo" name="marmoleo" class="form-control" [(ngModel)] = "ternero.calidad_marmoleo" #marmoleo = "ngModel">
                <option value="1">Calidad 1</option>
                <option value="2">Calidad 2</option>
                <option value="3">Calidad 3</option>
                <option value="4">Calidad 4</option>
                <option value="5">Calidad 5</option>
            </select>
        </div>
        <br>
        <div class="row">
            <div class="alert alert-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf = "nombre.errors?.['required']">
                    Inserte un nombre.
                </div>
                <div *ngIf = "nombre.errors?.['minlength']">
                    El nombre debe contener minimo 4 caracteres.
                </div>
                <div *ngIf = "nombre.errors?.['maxlength']">
                    El nombre debe tener como maximo 25 caracteres.
                </div>
            </div>

            <div class="alert alert-danger" *ngIf="peso.invalid && (peso.dirty || peso.touched)">
                <div *ngIf="peso.errors?.['min']">
                  El peso debe ser mayor a 0.
                </div>
                <div *ngIf="peso.errors?.['max']">
                  El peso debe ser menor o igual a 1000.
                </div>
            </div>

            <div class="alert alert-danger" *ngIf="costo.invalid && (costo.dirty || costo.touched)">
                <div *ngIf="costo.errors?.['required']">
                  Inserte un costo.
                </div>
                <div *ngIf="costo.errors?.['min']">
                  El costo debe ser mayor a 0.
                </div>
            </div>

            <div class="alert alert-danger" *ngIf="proveedor.invalid && (proveedor.dirty || proveedor.touched)">
                <div *ngIf="proveedor.errors?.['required']">
                  Inserte un proveedor.
                </div>
            </div>
        </div>

        <button class="btn btn-success" [disabled]="!terneroForm.form.valid"> Guardar </button>
    </form>
</div>