<nav class="navbar navbar-expand bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="terneros" routerLinkActive="active" class="nav-link">Lista de terneros</a>
        </li>
        <li class="nav-item">
            <a routerLink="registrar-ternero" routerLinkActive="active" class="nav-link">Registrar cría</a>
        </li>
        <li class="nav-item">
            <a routerLink="detalles-terneros" routerLinkActive="active" class="nav-link">Detalles terneros</a>
        </li>
    </ul>
</nav>
<br>
<h1 class="text-center">{{ title }}</h1>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>